body {
  margin: 0;
  display: flex;
  height: 100%;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.nav-element {
  width: 100%;
}

.navbar-custom {
  height: 100%;
}

.main {
  height: 100%;
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
