body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.nav-element {
  width: 10%;
  margin: 2% 2% 0% 0%;
}
